html, body, #map {
	height: 100%;
}

#placeSearchResultHeader, #placeSearchLoading, .placeSearchResultPaginate {
	text-align: center;
}

#placeSearchResultHeader {
	margin-top: 0;
}

#placePhoto {
	height: 200px;
	border-radius: 15px;
	margin-bottom: 10px;
}

#resultPaginateContainer {
	margin-top: 25px;
}

.angular-google-map-container, .angular-google-map {
	height: 400px;
}

@media only screen and (min-width: 992px) {
	.angular-google-map-container, .angular-google-map {
		height: 600px;
	}
}