body {
	background: gray;
}

.faBtn {
	background: none !important;
	border: 0 !important;
}

.faBtn:hover {
	color: black !important;
	transition: all 0.2s;
}

.openBtn {
	color: #00FF00
}

.deleteBtn {
	color: #FF0000;
}

.closeBtn {
	color: #0080FF;
}

.paginateBtn {
	color: blue;
}