
<div ng-show="loading" class="row">
	<div class="col-xs-12 text-center">
		<i class="fa fa-spin fa-refresh fa-5x"></i>
	</div>
</div>

<div ng-show="currentUser.id && !loading" class="well">

	<div ng-show="viewing == 'main'">

		<!-- Page Header -->
		<header class="page-header">
			<h1>Admin Dashboard - <span class="text-primary" ng-bind="user.name"></span></h1> 
		</header>

		<!-- Registered Users -->
		<div class="row">
			<div class="col-xs-12">
				<div class="well">
					<h2>Registered Users</h2>
					<hr>
					<h4 class="text-danger" align="center" ng-show="users.length == 0">No registered users to show</h4>
					<table class="table table-striped" ng-show="users.length > 0">
						<thead>
							<td>Name</td>
							<td>Email</td>
							<td>Role</td>
						</thead>
						<tbody>
						<tr ng-repeat="person in users">
							<td><a ng-href="/user/{{ person.id }}"><span ng-bind="person.name"></span></a></td>
							<td ng-bind="person.email"></td>
							<td ng-bind="person.role"></td>
							<td>
								<button class="faBtn openBtn" ng-click="openUser(person.id)" href=""><i class="fa fa-search"></i></button>
								<button class="faBtn deleteBtn" ng-click="deleteUser(person.id)" href=""><i class="fa fa-remove"></i></button>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>

	<div ng-show="viewing == 'user'">

		<div class="row">
			<div class="col-xs-6">
				<h1><button class="faBtn closeBtn" ng-click="close()"><i class="fa fa-caret-square-o-left"></i></button> Viewing user <a ng-href="/user/{{ person.id }}"><span ng-bind="person.name"></span></a></h1>
			</div>
			<div class="col-xs-6">
				<h1 align="right"><button class="faBtn deleteBtn" ng-click="deleteUser(person.id)" href=""><i class="fa fa-trash"></i></button></h1>
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-xs-12">
				<h4><b>Id: </b><span ng-bind="person.id"></span></h4>
				<h4><b>Name: </b><span ng-bind="person.name"></span></h4>
				<h4><b>Email: </b><span ng-bind="person.email"></span></h4>
				<h4><b>Role: </b><span ng-bind="person.role"></span></h4>
				<h4><b>Joined: </b><span ng-bind="person.created_at"></span></h4>
			</div>
		</div>

	</div>

</div>