<div id="placesContainer"></div>

<div ng-show="otherUser.id" class="well">

	<div ng-show="viewing == 'main'">

		<!-- Page Header -->
		<header class="page-header">
			<h1>Viewing <span class="text-primary" ng-bind="otherUser.name"></span>'s Profile</h1>
		</header>

		<!-- Saved places -->
		<div class="row">
			<div class="col-xs-12">
				<div class="well">
					<h2>Favorite Places</h2>
					<hr>
					<h4 class="text-danger" align="center" ng-show="places.length == 0 && places.$resolved">No favorite places yet!</h4>
					<div ng-show="updatingPlaces" class="row">
						<div class="col-xs-12 text-center">
							<i class="fa fa-spin fa-refresh fa-3x"></i>
						</div>
					</div>
					<table class="table table-striped" ng-show="places.length != 0 && !updatingPlaces">
						<thead>
						<td>Name</td>
						<td>Address</td>
						</thead>
						<tbody>
						<tr ng-repeat="place in places">
							<td ng-bind="place.name"></td>
							<td ng-bind="place.address"></td>
							<td>
								<button class="faBtn openBtn" ng-click="openPlace(place.id)" href=""><i class="fa fa-search"></i></button>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<!-- Saved searches -->
		<div class="row">
			<div class="col-xs-12">
				<div class="well">
					<h2>Saved Searches</h2>
					<hr>
					<h4 class="text-danger" align="center" ng-show="searches.length == 0 && searches.$resolved">No saved searches yet!</h4>
					<div ng-show="updatingSearches" class="row">
						<div class="col-xs-12 text-center">
							<i class="fa fa-spin fa-refresh fa-3x"></i>
						</div>
					</div>
					<table class="table table-striped" ng-show="searches.length != 0 && !updatingSearches">
						<thead>
						<td>Name</td>
						<td>Address</td>
						<td>Radius</td>
						<td>Keyword</td>
						</thead>
						<tbody>
						<tr ng-repeat="search in searches">
							<td ng-bind="search.name"></td>
							<td ng-bind="search.address"></td>
							<td ng-bind="search.radius"></td>
							<td ng-bind="search.keyword"></td>
							<td>
								<button class="faBtn openBtn" ng-click="openSearch(search.id)" href=""><i class="fa fa-search"></i></button>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>

	<div ng-show="viewing == 'place'">
		<div class="row">
			<div class="col-xs-6">
				<h1><button class="faBtn closeBtn" ng-click="close()"><i class="fa fa-caret-square-o-left"></i></button> Viewing place: <span ng-bind="place.name" class="text-primary"></span></h1>
			</div>
		</div>

		<div class="row">

			<div class="col-xs-12 col-md-6">
				<div class="well">
					<p ng-if="place.types"><b>Type: </b><span ng-bind="place.types[0]"></span></p>
					<p ng-if="place.formatted_address"><b>Address: </b><span ng-bind="place.formatted_address"></span></p>
					<p ng-if="place.formatted_phone_number"><b>Phone: </b><span ng-bind="place.formatted_phone_number"></span></p>
					<p ng-if="place.rating"><b>Rating: </b><span ng-bind="place.rating"></span></p>
					<p ng-if="place.website"><b>Website: </b><a ng-href="{{ place.website }}"><i class="fa fa-globe"></i></a></p>
				</div>
			</div>

			<!-- Angular Google Map -->
			<div class="col-xs-12 col-md-6">
				<div class="well">
					<div ng-show="placeLoading" class="row">
						<div class="col-xs-12 text-center">
							<i class="fa fa-spin fa-refresh fa-3x"></i>
						</div>
					</div>
					<div ng-show="!placeLoading">
						<ui-gmap-google-map center="map.center"
											zoom="map.zoom"
											pan="map.pan",
											control="map.control",
											options="map.options"
						>
							<ui-gmap-marker ng-if="activePlace"
											idKey="activePlace.id"
											coords="activePlace.coords",
											options="activePlace.options"
							></ui-gmap-marker>
						</ui-gmap-google-map>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div ng-show="viewing == 'search'">
		<div class="row">
			<div class="col-xs-6">
				<h1><button class="faBtn closeBtn" ng-click="close()"><i class="fa fa-caret-square-o-left"></i></button> Viewing search: <span ng-bind="search.name" class="text-primary"></span></h1>
			</div>
			<div class="col-xs-6">
				<h1 align="right"><button class="faBtn deleteBtn" ng-click="deleteSearch(search.id)" href=""><i class="fa fa-trash"></i></button></h1>
			</div>
		</div>
	</div>

</div>