<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" charset="utf-8">
    <base href="/">

    <!-- Bower Styles -->
    <!-- build:css(.) styles/vendor.css -->
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.css">
    <!-- endbuild -->

    <!-- Font-Awesome not working with usemin -->
    <link rel="stylesheet" href="components/font-awesome/css/font-awesome.css">

    <!-- Custom CSS -->
    <!-- build:css(angular) styles/main.css -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/admin/dashboard.css">
    <!-- endbuild -->

</head>
<body ng-controller="MainCtrl">

    <!-- Nav -->
    <nav id="nav" class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="nav-brand" class="navbar-brand" href="/"><img id="nav-brand-img" src="images/logo.png"></a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <!--
                <li class="dropdown">
                    <a class="dropdown-toggle" type="button" data-toggle="dropdown">Me
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/about">About Me</a></li>
                        <li><a href="/work">My Work</a></li>
                        <li><a href="/resume">Resume/CV</a></li>
                    </ul>
                </li>
                -->
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li ng-show="!user.id"><a href="/login">Login</a></li>
                <li ng-show="!user.id"><a href="/register">Register</a></li>
                <li ng-show="user.id" class="dropdown">
                    <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                        <span ng-bind="user.name"></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-show="user.role === 'Admin'"><a href="/admin">Admin</a></li>
                        <li><a href="/me">Profile</a></li>
                        <li ng-show="user.id" ng-click="logout()"><a href="">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">

        <!-- Angular view rendered here -->
        <div ng-view></div>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-xs-12">
                    <h4 align="center">&copy; 2016 Jordan Schneidler</h4>
                </div>
            </div>
            <!--
            <div class="row">
                <div class="col-xs-12">
                    <p align="center">
                        <a href="/">Home</a> | 
                        <a href="/register">Sign Up</a> | 
                        <a href="/login">Login</a>
                    </p>
                </div>
            </div>
            -->
        </footer>

    </div>

    <!-- Bower Components -->
    <!-- build:js(.) scripts/vendor.js -->
    <script src="components/lodash/dist/lodash.js"></script>
    <script src="components/jquery/dist/jquery.js"></script>
    <script src="components/angular/angular.js"></script>
    <script src="components/angular-simple-logger/dist/angular-simple-logger.js"></script>
    <script src="components/angular-google-maps/dist/angular-google-maps.js"></script>
    <script src="components/angular-route/angular-route.js"></script>
    <script src="components/angular-resource/angular-resource.js"></script>
    <script src="components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="components/underscore/underscore.js"></script>
    <!-- endbuild -->

    <!-- Custom JS -->
    <!-- build:js(angular) scripts/custom.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/services/auth.js"></script>
    <script src="scripts/services/user.js"></script>
    <script src="scripts/services/places.js"></script>
    <script src="scripts/services/searches.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/index.js"></script>
    <script src="scripts/controllers/profile.js"></script>
    <script src="scripts/controllers/userprofile.js"></script>
    <script src="scripts/controllers/admin.js"></script>
    <!-- endbuild -->

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9NbFRJCALeLaKjGZlrhFbQcRotv7egbs&libraries=places&v=3" async defer></script>

</body>
</html>