
<!-- Placeholder node as Google API requires a node to render attributes in -->
<div id="placesContainer"></div>

<div ng-show="loading" class="row">
	<div class="col-xs-12 text-center">
		<i class="fa fa-spin fa-refresh fa-5x"></i>
	</div>
</div>

<div ng-show="!loading" class="row">

	<!-- Left content -->
	<div class="col-xs-12 col-md-6">

		<!-- Form -->
		<div class="row">
			<div class="col-xs-12">
				<div class="well">
					<form ng-submit="submit()" class="form-horizontal">

						<div class="form-group">
							<div class="row">
								<label for="placeInput" class="col-sm-2 control-label">Activities near..</label>
								<div class="col-sm-10">
									<input required id="placeInput" type="text" ng-disabled="processing" class="form-control" placeholder="Where will you go next?">
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row">
								<label for="keywordInput" class="col-sm-2 control-label">Keyword</label>
								<div class="col-sm-10">
									<input required id="keywordInput" type="text" ng-disabled="processing" ng-model="keyword" class="form-control">
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-6">
								<div class="form-group">
									<div class="row">
										<label for="radiusInput" class="col-sm-2 control-label">Radius</label>
										<div class="col-sm-10">
											<input id="radiusInput" type="number" ng-disabled="processing" ng-model="radius" class="form-control">
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="form-group">
									<div class="row">
										<label for="sortInput" class="col-sm-2 control-label">Sort by</label>
										<div class="col-sm-10">
											<select id="sortInput" ng-disabled="processing" ng-model="sort" class="form-control"></select>
										</div>
									</div>
								</div>
							</div>
						</div>

						<hr>

						<div class="form-group">
							<div class="row">
								<div class="col-xs-6 col-xs-offset-3">
									<button type="submit" ng-disabled="processing" class="btn btn-default btn-primary btn-block">Go</button>
								</div>
							</div>
						</div>

						<div ng-show="processing" class="form-group">
							<div class="row">
								<div id="placeSearchLoading" class="col-xs-12">
									<i class="fa fa-spin fa-refresh fa-4x"></i>
								</div>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>

		<!-- Results -->
		<div class="row">
			<div class="col-xs-12">

				<!-- Results > 0 -->
				<div ng-show="place.place_id" class="well">

					<!-- Save search -->
					<div ng-show="user.id" class="row">
						<div class="col-xs-12 text-center">
							<!-- TODO: Better way instead of loading two buttons? Give attribute disabled instead? -->
							<button ng-if="user.search_ids.indexOf(originPlace.place_id) >= 0" type="button" class="btn btn-default btn-primary" disabled>
								Saved!
							</button>
							<button ng-if="!(user.search_ids.indexOf(originPlace.place_id) >= 0)" type="button" class="btn btn-default btn-primary" ng-click="saveSearch()">
								Save Search
								<i class="fa fa-floppy-o"></i>
							</button>
						</div>
					</div>

					<!-- Results header -->
					<div class="row">
						<div id="placeSearchResultHeader" class="page-header">
							<h3>
								Places near
								<button  type="button" class="btn btn-default btn-info" ng-click="setActivePlace(originPlace)">
									<span ng-bind="originPlace.name"></span>
									<i class="fa fa-map-marker"></i>
								</button> matching criteria (out of <span ng-bind="places.length"></span>):
							</h3>
						</div>
					</div>

					<!-- Place loading -->
					<div ng-show="placeLoading" class="row">
						<div class="col-xs-12 text-center">
							<i class="fa fa-spin fa-refresh fa-5x"></i>
						</div>
					</div>

					<!-- Place panel -->
					<div ng-show="!placeLoading" class="panel panel-info">

						<!-- Panel head -->
						<div class="panel-heading text-center">
							<h3 ng-bind="place.name" class="panel-title"></h3>
						</div>

						<!-- Panel body -->
						<div class="panel-body">

							<!-- Place details -->
							<div class="row">
								<div class="col-xs-4 text-center">
									<img id="placePhoto" class="img-responsive img-thumbnail" ng-src="{{ place.coverPhoto }}" alt="Photo of {{ place.name }}">
									<br>
									<button ng-if="user.place_ids.indexOf(place.place_id) >= 0" type="button" class="btn btn-default btn-primary" ng-show="user.id" disabled>
										<i class="fa fa-star"></i>
									</button>
									<button ng-if="!(user.place_ids.indexOf(place.place_id) >= 0)" type="button" class="btn btn-default btn-primary" ng-show="user.id" ng-click="savePlace()">
										<i class="fa fa-floppy-o"></i>
										Favorite
									</button>
								</div>
								<div class="col-xs-8">
									<p ng-if="place.types"><b>Type: </b><span ng-bind="place.types[0]"></span></p>
									<p ng-if="place.formatted_address"><b>Address: </b><span ng-bind="place.formatted_address"></span></p>
									<p ng-if="place.formatted_phone_number"><b>Phone: </b><span ng-bind="place.formatted_phone_number"></span></p>
									<p ng-if="place.rating"><b>Rating: </b><span ng-bind="place.rating"></span></p>
									<p ng-if="place.website"><b>Website: </b><a ng-href="{{ place.website }}"><i class="fa fa-globe"></i></a></p>
									<button ng-click="setActivePlace(place)" type="button" class="btn btn-default btn-info"><i class="fa fa-map-marker"></i> View on map</button>
								</div>
							</div>

							<!-- Pagination -->
							<div id="resultPaginateContainer" class="row">

								<div class="col-xs-5 placeSearchResultPaginate">
									<button ng-show="index > 0" ng-click="firstPage()" class="faBtn paginateBtn">
										<i class="fa fa-angle-double-left fa-2x"></i>
									</button>
									<button ng-show="index > 0" ng-click="prevPage()" class="faBtn paginateBtn">
										<i class="fa fa-angle-left fa-2x"></i>
									</button>
								</div>

								<div class="col-xs-2 text-center">
									<p><span ng-bind="index+1"></span> of <span ng-bind="places.length"></span></p>
								</div>

								<div class="col-xs-5 placeSearchResultPaginate">
									<button ng-show="index < places.length-1" ng-click="nextPage()" class="faBtn paginateBtn">
										<i class="fa fa-angle-right fa-2x"></i>
									</button>
									<button ng-show="index < places.length-1" ng-click="lastPage()" class="faBtn paginateBtn">
										<i class="fa fa-angle-double-right fa-2x"></i>
									</button>
								</div>

							</div>

						</div>
					</div>

				</div>

				<!-- No results -->
				<div ng-show="error == true" class="well">
					<div class="page-header">
						<h1>No results found!</h1>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Right content -->
	<div class="col-xs-12 col-md-6">

		<!-- Angular Google Map -->
		<div class="row">
			<div class="col-xs-12">
				<div class="well">
					<ui-gmap-google-map center="map.center"
										zoom="map.zoom"
										pan="map.pan",
										control="map.control",
										options="map.options"
					>
						<ui-gmap-marker ng-if="activePlace"
										idKey="activePlace.id"
										coords="activePlace.coords",
										options="activePlace.options"
						></ui-gmap-marker>
					</ui-gmap-google-map>
				</div>
			</div>
		</div>
	</div>

</div>